1. Setting the Path to virtual environment

In [2]:
import sys
sys.path.append('/opt/anaconda3/envs/pytorch/lib/python3.6')
sys.path.append('/opt/anaconda3/envs/pytorch/lib/python3.6/site-packages')
sys.path.append('/opt/anaconda3/envs/pytorch/lib/python3.6/site-packages/appv1')

In [3]:
import pandas as pd
from pathlib import Path
import json

2. Download the dataset from
https://github.com/chakki-works/chABSA-dataset

In [16]:
import json
import pandas as pd


companies = []
sentences = []
entities = []

# Read the json file
for f in data_folder.glob("e*_ann.json"):
    with f.open(encoding="utf-8") as j:
        d = json.load(j)
        
        # company infos
        company_info = d["header"]
        companies.append(company_info)
        
        # sentences
        company_code = company_info["security_code"]
        for s in d["sentences"]:
            line = {
                "company": company_code,
                "sentence": s["sentence"],
                "entities": len(s["opinions"])
            }
            sentences.append(line)

            # entities
            for o in s["opinions"]:
                entities.append(o)


companies = pd.DataFrame(companies)
sentences = pd.DataFrame(sentences)
entities = pd.DataFrame(entities)

# e00008.json
{
  "header": {
    "document_id": "E00008",
    "document_name": "ホクト株式会社",
    "doc_text": "有価証券報告書",
    "edi_id": "E00008",
    "security_code": "13790",
    "category33": "水産・農林業",
    "category17": "食品",
    "scale": "6"
  },
  "sentences": [
    {
      "sentence_id": 0,
      "sentence": "当連結会計年度におけるわが国経済は、政府の経済政策や日銀の金融緩和策により、企業業績、雇用・所得環境は改善し、景気も緩やかな回復基調のうちに推移いたしましたが、中国をはじめとするアジア新興国経済の減速懸念や、英国の欧州連合（ＥＵ）離脱決定、米国新政権への移行など、引き続き先行きは不透明な状況となっております",
      "opinions": [
        {
          "target": "わが国経済",
          "category": "NULL#general",
          "polarity": "neutral",
          "from": 11,
          "to": 16
          #从第11个字符到第16
        },
        {
          "target": "企業業績",
          "category": "NULL#general",
          "polarity": "positive",
          "from": 38,
          "to": 42
        },
        {
          "target": "雇用",
          "category": "NULL#general",
          "polarity": "positive",
          "from": 43,
          "to": 45
        },
        {
          "target": "所得環境",
          "category": "NULL#general",
          "polarity": "positive",
          "from": 46,
          "to": 50
        },
        {
          "target": "景気",
          "category": "NULL#general",
          "polarity": "positive",
          "from": 55,
          "to": 57
        }
      ]
    },

In [17]:
companies.head(5)

,document_id,document_name,doc_text,edi_id,security_code,category33,category17,scale
0,E01183,株式会社松風,有価証券報告書,E01183,79790,精密機器,電機・精密,7
1,E02682,カメイ株式会社,有価証券報告書,E02682,80370,卸売業,商社・卸売,7
2,E01018,株式会社ツムラ,有価証券報告書,E01018,45400,医薬品,医薬品,4
3,E00024,三井金属鉱業株式会社,有価証券報告書,E00024,57060,非鉄金属,鉄鋼・非鉄,4
4,E23818,チムニー株式会社,有価証券報告書,E23818,31780,小売業,小売,7

In [18]:
sentences.head(5)

  company                                           sentence  entities
0   79790  当連結会計年度の世界経済は、米国を中心に景気は概ね堅調に推移しましたが、英国のEU離脱問題に...         2
1   79790  国内経済については、企業収益や雇用・所得環境に底堅さが見られるなど、総じて緩やかな回復基調を...         4
2   79790  当歯科業界におきましては、デジタル化の進展により市場環境は大きく変化しており、世界規模で企業...         2
3   79790  このような状況の中、当社グループは第二次中期経営計画の２年目を迎え、海外事業の拡大と国内事業...         0
4   79790  海外市場において売上拡大を図るため、ブラジル・サンパウロに販売子会社を設立するとともに、イン...         0

In [15]:
entities.head(5)

  target      category  polarity  from  to
0     景気  NULL#general  positive    20  22
1    先行き  NULL#general   neutral    95  98
2   国内経済  NULL#general  positive     0   4
3   企業収益  NULL#general  positive    10  14
4     雇用  NULL#general  positive    15  17

3. Create the sentiment file

In [4]:
data_dir = "/Users/chenying/Desktop/STUDY/project/stage2/chABSA"
data_path = Path(data_dir)
path_list = [p for p in data_path.iterdir()]
print("The number of files＝",len(path_list))
print("The name of all the files",path_list[:5])

The number of files＝ 234
The name of all the files [PosixPath('/Users/chenying/Desktop/STUDY/project/stage2/chABSA/e01183_ann.json'), PosixPath('/Users/chenying/Desktop/STUDY/project/stage2/chABSA/e02682_ann.json'), PosixPath('/Users/chenying/Desktop/STUDY/project/stage2/chABSA/e01018_ann.json'), PosixPath('/Users/chenying/Desktop/STUDY/project/stage2/chABSA/e00024_ann.json'), PosixPath('/Users/chenying/Desktop/STUDY/project/stage2/chABSA/e23818_ann.json')]

In [6]:
with open(path_list[231], "br") as f:
    j =  json.load(f)
sentences = j["sentences"]  # Save the "sentences" 
print("the number of sentences in line_1：",len(sentences))

the number of sentences in line_1： 41

In [7]:
sentences[0]

{'sentence_id': 0,
 'sentence': '当連結会計年度におけるわが国経済は、政府による経済対策や日本銀行による金融政策を背景とした企業収益の改善と雇用環境の改善により、引き続き緩やかな景気回復傾向や企業業績の改善傾向に変化はないものの、将来不安による消費マインドの低迷などの影響を受け、依然として先行き不透明な状況が続いております',
 'opinions': [{'target': 'わが国経済',
   'category': 'NULL#general',
   'polarity': 'neutral',
   'from': 11,
   'to': 16},
  {'target': '企業収益',
   'category': 'NULL#general',
   'polarity': 'positive',
   'from': 45,
   'to': 49},
  {'target': '雇用環境',
   'category': 'NULL#general',
   'polarity': 'positive',
   'from': 53,
   'to': 57},
  {'target': '企業業績',
   'category': 'NULL#general',
   'polarity': 'positive',
   'from': 79,
   'to': 83},
  {'target': '消費マインド',
   'category': 'NULL#general',
   'polarity': 'negative',
   'from': 105,
   'to': 111}]}

In [8]:
# pos+1,neg-1
#build the rating to save data with [article+score], sentences devided with '\n'
def create_rating(sentences):
    rating = []
    for obj in sentences:
        s = obj["sentence"] 
        s = s.replace("\n","")
        op = obj["opinions"]  
        porarity = 0
        for o in op:
            p = o["polarity"]
            if p == "positive":
                porarity += 1
            elif p == "negative":
                porarity -= 1
        if porarity !=0 :
            rating.append((porarity, s))
    return rating

In [20]:
create_rating(sentences)

[(1,
  '当連結会計年度の世界経済は、米国を中心に景気は概ね堅調に推移しましたが、英国のEU離脱問題による影響のほか、中国をはじめとする新興国経済の減速懸念や米国新政権の政策動向の不確実性など、景気の先行きは不透明な状況が続きました'),
 (4, '国内経済については、企業収益や雇用・所得環境に底堅さが見られるなど、総じて緩やかな回復基調をたどりました'),
 (-2,
  '当歯科業界におきましては、デジタル化の進展により市場環境は大きく変化しており、世界規模で企業間競争が激化するなど、引き続き厳しい事業環境が続きました'),
 (-1,
  'しかしながら、当連結会計年度の売上高は、為替の円高による影響もあり、22,305百万円と前年同期比670百万円(2.9%)の減収となりました'),
 (-2,
  '営業利益は、減収の影響や積極的な販売活動に伴う費用負担の増加により、1,382百万円と前年同期比186百万円(11.9%)の減益となりました'),
 (-1,
  'これらの新製品に加え、当社の注力分野である化工品やＣＡＤ/ＣＡＭ関連製品が売上に寄与しましたが、市場競争の激化により、人工歯をはじめ既存の主力製品の販売が計画に届かず、前年同期比減収となりました'),
 (1, '海外では、積極的な拡販戦略が功を奏し、北米や中国で売上が堅調に推移しましたが、為替の円高の影響により、前年同期比減収となりました'),
 (-2,
  'これらの結果、デンタル関連事業の売上高は、20,267百万円と前年同期比732百万円(3.5%)の減収となり、営業利益は1,380百万円と前年同期比134百万円(8.9%)の減益となりました'),
 (-2,
  'ネイル業界におきましては、市場は緩やかな拡大傾向を維持しているものの、ユーザーの低価格志向の高まりを背景に、業界全体で価格競争の様相を呈するなど、事業を取り巻く環境は依然として厳しい状況にあります'),
 (-2,
  '国内では、ジェルネイル製品の新色カラージェルを市場投入するほか、全国各地で製品の優位性を訴求するセミナーを積極展開しましたが、主力製品の「L・E・D GEL Presto」が伸び悩み、売上は低調に推移しました'),
 (2, '海外では、積極的なプロモーション活動により、米国や台湾においてジェルネイル製品の認知度が高まったことから、売上は好調に推移いたしました'),
 (-1,
  'これらの結果、ネイル関連事業の売上高は、1,944百万円と前年同期比50百万円(2.7%)の増収となりましたが、利益面は、販売費及び一般管理費の増加により、営業損失25百万円と前年同期比47百万円の減益となりました'),
 (1, 'その他の事業の売上高は、93百万円と前年同期比10百万円(12.8%)の増収となり、営業利益は22百万円とほぼ前年同期並みとなりました')]

In [23]:

# check data existence
from pathlib import Path

data_folder = Path.cwd().parent.joinpath("/Users/chenying/Desktop/STUDY/project/stage2/chABSA")

def check_data_existence(folder):
    file_count = len(list(folder.glob("e*_ann.json")))
    if  file_count == 0:
        raise Exception("Processed Data does not exist.")
    else:
        print("{} files exist.".format(file_count))


check_data_existence(data_folder)

230 files exist.

In [25]:
#Calculate the rating

import json

rating = []
for f in data_folder.glob("e*_ann.json"):
    with f.open(encoding="utf-8") as j:
        d = json.load(j)
    s = d["sentences"]
    rating += create_rating(s)

ratingpd = pd.DataFrame(rating)

In [26]:
ratingpd.head(5)

   0                                                  1
0  1  当連結会計年度の世界経済は、米国を中心に景気は概ね堅調に推移しましたが、英国のEU離脱問題に...
1  4  国内経済については、企業収益や雇用・所得環境に底堅さが見られるなど、総じて緩やかな回復基調を...
2 -2  当歯科業界におきましては、デジタル化の進展により市場環境は大きく変化しており、世界規模で企業...
3 -1  しかしながら、当連結会計年度の売上高は、為替の円高による影響もあり、22,305百万円と前年...
4 -2  営業利益は、減収の影響や積極的な販売活動に伴う費用負担の増加により、1,382百万円と前年同...

In [27]:
neg = []
pos = []
for t in rating:
    if t[0] > 0: 
        pos.append(t[1])
    else:
        neg.append(t[1])

In [28]:
#Check
print(len(pos))
print(len(neg))
print(len(pos)+len(neg))

1670
1143
2813

In [29]:
# Training70% Test30%
# Generate the training file .tsv
threshold = 0.7
neg_num = len(neg)
pos_num = len(pos)
poslst = []
neglst = []

with open("/Users/chenying/Desktop/STUDY/project/stage2/chABSA/train.tsv", "a") as f:
    index = 0
    for text in neg:
        if index < neg_num * threshold:  #指针在0.7之前循环
            text = text+'\t'+'0'+'\t'+'\n' #一句换一行
            neglst.append(text)
            f.write(text)
#            print(text)
            index += 1
        else:
            break
    index = 0
    for text in pos:
        if index < pos_num * threshold:
            text = text+'\t'+'1'+'\t'+'\n'
            poslst.append(text)
            f.write(text)
#           print(text)
            index += 1
        else:
            break
# \t ：表示空4个字符，类似于文档中的缩进功能，相当于按一个Tab键。
# \n ：表示换行，相当于按一个 回车键

In [30]:
poslst_training = pd.DataFrame(poslst)
neglst_training = pd.DataFrame(neglst)

In [31]:
poslst_training.head(5)

                                                   0
0  当連結会計年度の世界経済は、米国を中心に景気は概ね堅調に推移しましたが、英国のEU離脱問題に...
1  国内経済については、企業収益や雇用・所得環境に底堅さが見られるなど、総じて緩やかな回復基調を...
2  海外では、積極的な拡販戦略が功を奏し、北米や中国で売上が堅調に推移しましたが、為替の円高の影...
3  海外では、積極的なプロモーション活動により、米国や台湾においてジェルネイル製品の認知度が高ま...
4  その他の事業の売上高は、93百万円と前年同期比10百万円(12.8%)の増収となり、営業利益...

In [32]:
neglst_training.head(5)

                                                   0
0  当歯科業界におきましては、デジタル化の進展により市場環境は大きく変化しており、世界規模で企業...
1  しかしながら、当連結会計年度の売上高は、為替の円高による影響もあり、22,305百万円と前年...
2  営業利益は、減収の影響や積極的な販売活動に伴う費用負担の増加により、1,382百万円と前年同...
3  これらの新製品に加え、当社の注力分野である化工品やＣＡＤ/ＣＡＭ関連製品が売上に寄与しました...
4  これらの結果、デンタル関連事業の売上高は、20,267百万円と前年同期比732百万円(3.5...

In [103]:
#Generate the testing file .tsv

threshold = 0.7
neg_num = len(neg)
pos_num = len(pos)
poslst = []
neglst = []

with open("/Users/chenying/Desktop/STUDY/project/stage2/chABSA/test.tsv", "a") as f:
    index = 0
    for text in neg:
        if index >= neg_num * threshold:
            text = text+'\t'+'0'+'\t'+'\n'
            neglst.append(text)
            f.write(text)
            index += 1
        else:
            index += 1
    index = 0
    for text in pos:
        if index >= pos_num * threshold:
            text = text+'\t'+'1'+'\t'+'\n'
            poslst.append(text)
            f.write(text)
            index += 1
        else:
            index += 1